#map {
    height: 800px;
  }
  
  #overlay {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
}
  
  #content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #chart {
    width: 50%;
  }
  
  #stats-table {
    width: 50%;
    margin-top: 20px;
  }
  
  #download-btn {
    margin-top: 20px;
  }
  